# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json

name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - 'v*'
    tags:
      - 'v*'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker:
    runs-on: cluster-runner
    permissions:
      contents: read

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: golemnetwork/restate-allocators
          tags: |
            # Tag main as latest
            type=raw,value=latest,enable={{is_default_branch}}

            # Label based on git tag
            type=ref,event=tag
            # Also add label for major version only
            type=match,pattern=v\d+

            # Nightly release for each PR
            type=ref,event=pr

            # Nightly releases on each push, except on main
            type=sha,enable={{is_not_default_branch}}
        # check out PR head instead of merge commit into base branch
        # this way, the SHAs will be correct
        env:
          DOCKER_METADATA_PR_HEAD_SHA: true

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: |
            linux/amd64
            linux/arm64/v8
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
        env:
          DOCKER_BUILD_RECORD_UPLOAD: false
